{% extends 'base.html.twig' %}

{% block title %}
    Usuarios|{{ parent() }}
{% endblock %}

{% block body %}
    <h1>Usuarios Registrados</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('usuario_new') }}">Nuevo</a>

    <a href="{{ path('inicio') }}">Volver a Inicio</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Username</th>
                <th>Contraseña</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.primerApellido }}</td>
                <td>{{ usuario.segundoApellido }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.password }}</td>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">Ver</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
