{% extends 'base.html.twig' %}

{% block title %}
    Usuario
{% endblock %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>PrimerApellido</th>
                <td>{{ usuario.primerApellido }}</td>
            </tr>
            <tr>
                <th>SegundoApellido</th>
                <td>{{ usuario.segundoApellido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuario_index') }}">Volver</a>

    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
