{% extends 'base.html.twig' %}

{% block title %}
    Dashboard {{ parent() }}
{% endblock %}

{% block body %}
    {# imprimimos el contenido de llave #}
    {{ dump(centros) }}
    <h2>Centros de Conciliaci贸n Registrados</h2>

    {# for OBJETO in LLAVE O PARAMETRO #}
    {% for centro in centros %}
        {# Objeto que se envia al por el parametro #}
        <h4>{{ centro }}</h4>
    {% endfor %}
    <hr>
    <div>
        <h2>Modulo de Departamentos</h2>
        <a href="{{ path('departamento_index') }}" class="">Ingresar</a>
    </div>
    <div>
        <h2>M贸dulo de Centros</h2>
        <a href="{{ path('centros_index') }}" class="">Ingresar</a>
    </div>
    <div>
        <h2>M贸dulo de Reportes</h2>
        <a href="" class="">Ingresar</a>
    </div>
    <div>
        <h2>M贸dulo de Usuarios</h2>
        <a href="{{ path('usuario_index') }}" class="">Ingresar</a>
    </div>

{% endblock %}