{% extends 'base.html.twig' %}

{% block title %}
    Centro- {{ centro }}
{% endblock %}

{% block body %}
    {{ dump() }}

    <h2>Nombre: {{ centro }}</h2>
    {# condicional si el REPORTE es MAYOR a 0, se ejecuta el proceso #}
    {% if reporte|length > 0  %}

        <div>Se tiene [<b>{{ reporte|length }}</b>] reportes registrados</div>
        <hr>

        {% for reporte in reporte %}

            <h4>Gestion: {{ reporte.gestion }}</h4>

            Actas:
            <small>
                {{ reporte.acta }}
            </small>

            <p>Conciliaciones virtuales: {{ reporte.virtual }}</p>

            {% if reporte.fileReporte %}
                <p>imagen</p>
                <img src="{{ asset('images/' ~ reporte.fileReporte) }}" />
            {% else%}
                <b>No tiene formulario cargado</b>
            {% endif %}

            <hr>
        {% endfor %}
        <br>
        {% if anterior >= 0 %}
            <a href="{{ path('centros_show', { id: centro.id, offset: anterior }) }}">Anterior</a>
        {% endif %}

        {% if siguiente < reporte|length %}
            <a href="{{ path('centros_show', { id: centro.id, offset: siguiente }) }}">Siguiente</a>
        {% endif%}

    {% else%}
        <div>No se tiene registrado REPORTES</div>
    {% endif %}

    <h2>Añadir un nuevo reporte</h2>

    {{  form(reporte_form) }}

{% endblock %}